/*------------------------------
      CONFIGURACIÓN BÁSICA
------------------------------*/


* {
    margin: 0;
    padding: 0;
}

/* Congifure para indicarle al navegador que renderice elementos HTML 5 como bloque */

header,
footer,
section,
aside,
nav,
article {
    display: block;
}
/*------------------------------
   CONFIGURACION GENERAL
------------------------------*/

body {
    padding: 22px 0;  
    font-family: 'Mulish', sans-serif;
    background:  rgb(205, 194, 227);
}

h1 {color: #050f4a;
    text-align: center;

}
h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;
    color: #0d074a;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 0;
    color: #13154d;
}

p {
    padding-bottom: 22px;
}


/*------------------------------
      ENCABEZADO
------------------------------*/
.encabezado {
    align-items: center;
    background: #93cfd3;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.logo {
    width: 100px;
    height: 75px;
    border-radius: 10%;
    margin-right: 70px;
    margin-left: 30px;
}


.menu__encabezado {
    margin-right: 40px;
    position: relative;
}

.menu__encabezado ul {
    display: none;
    list-style: none;
    margin-top: 140px;
    z-index: 4;
    padding: 5px;
    position: absolute;
    width: 70px;
    text-align:center;  
}


.menu__encabezado:hover ul,
ul:hover {
    display: block;   
}

.menu__encabezado li {
    margin: 20px -30px;
}

.menu__encabezado li a {
    color: #ffffff;
    text-decoration: none;      
}

.menu__encabezado li a:hover {
    color: hsl(230, 100%, 75%);
    transition: all .3s; 
}

.menu__encabezado--inicio {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.menu__encabezado--inicio img {
    margin-right: 20px;
    width: 40px;
    margin-top: 10px;
    border-radius: 5px;
    transition: transform .2s;
}

.menu__encabezado--inicio img:hover {
    transform: scale(1.5); 
    }

/*------------------------------
   MENU DE NAVIGACION
------------------------------*/
nav {
    margin-top: 140px;
    position: absolute;
    z-index: 3;
    left: 0;
    width: 100%;
}

.navegacion {
    width: 100%;
    height: 60px;
    background: rgb(53, 136, 147);
    align-content: center;
    text-align: center;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    align-items: center;
    text-align: center;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 10px 40px;
    color: #dad9e0;
    font-size: 16px;
    text-decoration: none;
}

/*------------------------------
   COLOR PALABRAS MENU
------------------------------*/

.menu li a:hover {
    color: #6575dc;
    transition: all .3s;
}

/*------------------------------
  SUBMENU DE NAVEGACION
------------------------------*/

.submenu {
    position: absolute;
    width: 120px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 5.5s;
    background: linear-gradient(to top, #d7d9f0, #9290a4);
    align-content: center;
    border-radius: 5px;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: hsl(236, 78%, 61%);
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.submenu li a:hover  {
    color: #e4e3f0;
    transition: all .3s;
}


/*------------------------------
  BANNER ESTATICO INTRODUCCION
------------------------------*/

#intro {
    display: flex;
    position: relative;
    padding: 70px;
    background-size: 100%;
    border-radius: 22px;
    margin: 100px 140px 0 140px;

}

#intro h2,
#intro p {
    display: flex;
    position: relative;
    z-index: 2;
    width: 100%;
}

#intro h2 {
    display: flex;
    padding: 0 0 10px 0;
    font-weight: normal;
    color:  #000;
    font-size: 30px;
}

#intro p {
    padding: 0;
    color:  #000;
    font-size: 20px;
    /* font-weight: bold; */
    text-align: justify;
}

#intro img {
    position: absolute;
    opacity: 60%;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 22px;
}


/*------------------------------
  DISEÑO DEL ÁREA DE CONTENIDO Y BARRA LATERAL
------------------------------*/

#content {
    display: table;
    margin:0 140px 0 240px;
}

#mainContent {
    display: table-cell;
    width: 620px;
    padding-right: 22px;
}

aside {
    display: table-cell;
    width: 300px;
}


/*------------------------------
    PUBLICACION  EN EL BLOG
------------------------------*/

.blogPost header p,
.blogPost header p a {
    font-size: 15px;
    font-style: italic;
    color: #777;
}

.blogPost header p a:hover {
    text-decoration: none;
    color: #000;
}

.blogPost div {
    /* El recuento de columnas  */
    column-count: 2;
    column-count: 2;
    /* El espacio entre columnas  */
    column-gap: 35px;
    column-gap: 35px;
    text-align: justify;
}

.blogPost img {
    margin: 23px 0;
    box-shadow: 4px 4px 8px #777;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 20px;
}


/*------------------------------
     COMENTARIOS PUBLICADOS
------------------------------*/

#comments {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
    width: 100%;
}

#comments article {
    display: table;
    padding: 22px;
}

#comments article:nth-child(odd) {
    padding: 21px;
    background: #E3E3E3;
    border: 1px solid #d7d7d7;
    border-radius: 11px;
}

#comments article header {
    display: table-cell;
    width: 220px;
    padding-right: 22px;
}

#comments article header a {
    display: block;
    font-weight: bold;
    color: #000;
}

#comments article header a:hover {
    text-decoration: none;
}

#comments article p {
    padding: 0;
}


/*------------------------------
 FORMULARIO DE PUBLICACION COMENTARIOS
------------------------------*/

form {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #d7d7d7;
}

form p {
    display: table;
    margin-bottom: 22px;
    padding: 0 22px;
}

form label {
    display: table-cell;
    width: 140px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

form input[type="text"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form input[type="email"],
form input[type="url"] {
    display: table-cell;
    width: 300px;
    height: 20px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

form input[type="submit"] {
    display: table-cell;
    width: 80px;
    height: 30px;
    background-color: #222;
    border-radius: 5px;
    color: #f0f0e6;
    margin-left: 162px;
}

form textarea {
    width: 300px;
    height: 100px;
    border: 1px solid #d7d7d7;
}




/*------------------------------
     BARRA LATERAL
------------------------------*/

aside section {
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    border-radius: 11px;
}

aside section ul {
    margin: 0 0 0 22px;
    list-style: none;
}

aside section ul li a {
    display: block;
    text-decoration: none;
    color: #000;
}

aside section ul li a:hover {
    text-decoration: underline;
}



/*------------------------------
       PIE DE PAGINA
------------------------------*/

footer {
    position: absolute;
    left: 0;
    background: #222;
    width: 100%;
}

footer div {
    display: table;
    margin: 0 auto;
    padding: 44px 0;
    width: 940px;
    color: #777;
}

footer div section {
    display: table-cell;
    width: 300px;
}

footer div #about {
    padding-right: 40px;
    padding-left: 10px;
    text-align: justify;
}

footer div #blogroll {
    text-align: justify;
    padding-left: 40px;
}

footer h3 {
    color: #FFF;
    padding-left: 40px;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #FFF;
    text-decoration: none;
}

footer ul {
    margin: 0 0 0 40px;
    list-style: square;
    color: #565656;
}

footer ul li a {
    display: block;
}

